body {
    background-color:darkgreen;
}

#cardContainer {
    background-color:darkgreen;
}

#cardDisplay {
    background-color:darkgreen;
}

#cards {
    background-color:lightgray;
}

